//  fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
	background: #dfe0e3;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed';

	* {
		box-sizing: border-box;
	}
}

.container {
	position: relative;
	width: 30%;
	min-width: 500px;
	height: 70VH;
	margin: auto;
}

.card {
	width: 100%;
	position: absolute;
	z-index: 100;
	margin: 5rem 0;
	background: #f7f7f8;
	border-radius: 4px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

	.header {
		padding: 1.5rem 2rem 0.5rem 2rem;

		h1 {
			margin: 0;
			font-size: 1.75rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #757575;
		}
	}

	.body {
		padding: 0 2rem 0 2rem;
	}

	.footer {
		margin-top: 1rem;
		width: 100%;
		display: flex;

		a {
			flex-grow: 1;
			padding: 1rem 2rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			background: #dfe0e3;
			color: #696c77;

			&.primary {
				background: #2D3C54;
				color: #ffffff;
				text-align: right;
			}
		}
	}
}

.body {
	display: flex;
	flex-direction: column;

	* {
		flex-grow: 1;
	}

	a {
		padding: 2rem 0 1rem 0;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		color: #2D3C54;
	}

	div {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0.8rem 0 0 0;

		> label {
			position: absolute;
			top: 1.4rem;
			bottom: 0;
			transition: 0.2s;
			color: #696c77;
		}

		> input {
			background: none;
			padding: 0.8rem 0 0.8rem 0;
			border-bottom: 1px solid #b7bbc8;

			&::placeholder {
				color: transparent;
			}

			&:focus {
				outline: none;
			}

			&:focus + label,
			&:not(:placeholder-shown) + label {
				top: 0;
				padding: 0;
				font-size: 0.9rem;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

.bubble {
	position: absolute;
	border-radius: 100%;

	&.yellow {
		width: 75px;
		height: 75px;
		top: 4%;
		left: 19%;
		z-index: 10;
		background: linear-gradient(126deg, rgba(254,194,0,1) 12%, rgba(245,165,0,1) 100%);
	}

	&.red {
		width: 225px;
		height: 225px;
		top: 5%;
		left: -15%;
		z-index: 20;
		background: linear-gradient(126deg, rgba(253,96,119,1) 12%, rgba(205,87,84,1) 100%);
	}

	&.purple {
		width: 300px;
		height: 300px;
		top: 250px;
		right: -25%;
		background: linear-gradient(126deg, rgba(199,97,193,1) 12%, rgba(191,107,224,1) 100%);
	}

	&.green {
		width: 280px;
		height: 280px;
		z-index: 20;
		top: 26%;
		right: 20%;
		background: linear-gradient(126deg, rgba(3,215,197,1) 12%, rgba(4,192,176,1) 100%);
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #ffffff;
	padding: 1rem;

	a {
		color: #757575;
		font-weight: bold;
		text-decoration: none;
	}

	a.codepen {
		float: right;
	}
}
